<div class="counter flexrow inspiration">
    <h4>{{ localize "DND5E.Inspiration" }}</h4>
    <div class="counter-value">
        <input type="checkbox" name="data.attributes.inspiration" data-dtype="Boolean"
               {{checked data.attributes.inspiration}}/>
    </div>
</div>
<div class="counter flexrow miserable">
    <h4>{{ localize "AIME.Miserable" }}</h4>
    <div class="counter-value">
        <input type="checkbox" name="data.attributes.miserable" data-dtype="Boolean" {{checked data.attributes.miserable}}/>
    </div>
</div>