.dnd5e.sheet.actor.character .ability-scores {
  flex: 0 0 100px;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 3px;
}
.dnd5e.sheet.actor.npc .ability-scores {
  flex: 0 0 100px;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 3px;
}
.dnd5e.sheet.actor.npc .ability-scores .ability:last-child {
  margin-bottom: -15px;
}

.dnd5e.sheet.actor ul.skills-list {
  flex: 0 0 180px;
  height: auto;
  list-style: none;
  margin: 0 5px 0;
  padding: 3px 0 2px;
  border-radius: 3px;
}
.dnd5e.sheet.actor.character {
 min-width: 720px;
 min-height: 790px;
 height: 790px;

}
.dnd5e.sheet.actor.npc {
  min-width: 720px;
  min-height: 725px;
}
.dnd5e.sheet.actor .sheet-header .summary input, .dnd5e.sheet.actor .sheet-header .summary span {
    font-size: 14px !important;
}
.dnd5e.sheet.actor .ability-scores .ability2 {
  height: 60px;
  text-align: center;
  border: 0px;
  border-bottom: 0px groove #eeede0;
  color: white;
}
.dnd5e.sheet.actor .ability2 h4.box-title {
  pointer-events: none;
}
.dnd5e.sheet.actor .ability-scores .ability2 input.ability-score {
  height: 30px;
  width: 36px;
  margin: 0 auto;
  line-height: 32px;
  font-size: 24px;
}
.dnd5e.sheet.actor .ability-scores .ability3 {
  height: 50px;
  width: auto;
  text-align: center;
  border: 2px groove;
  margin: 0 10px 20px 10px;
}
.dnd5e.sheet.actor h4.box-title-small {
  height: 14px;
  line-height: 16px;
  margin: 4px 1px 2px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 14px;
  font-weight: 700;
  color: #4b4a44;
  border: 0px solid #c9c7b8;
  white-space: nowrap;
  pointer-events: none;
}
.dnd5e.sheet.actor .ability-scores .ability3 input.ability-score {
  height: 22px;
  width: 36px;
  margin: 0 auto 30px auto;
  line-height: 32px;
  font-size: 24px;
}

  /* ----------------------------------------- */
  /*  Basic Structure                          */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Biography                                */
  /* ----------------------------------------- */

  /* ----------------------------------------- */
  /*  RPG-Styled UI                            */
  /* ----------------------------------------- */

.control {
    font-family: arial;
    position: relative !important;
    padding-left: 18px !important;
    margin-bottom: 5px;
    padding-top: 3px;
    font-size: 16px;
}
.control input {
        position: absolute !important;
        z-index: -1 !important;
        opacity: 0 !important;
}
.control-res input {
        position: absolute !important;
        z-index: -1 !important;
        opacity: 0 !important;
}
.control_indicator {
    position: absolute;
    top: 4px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #ffffff14;
    border: 0px solid #000000;
    border-radius: 0px;
}
.ctrlNew {
    top: -5px;
    height: 17px;
    width: 17px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #ffffff35;
}

.control input:checked ~ .control_indicator {
    background: #532a1f70;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #ffffff14;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 1;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 7px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid #786a57;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
  /* ----------------------------------------- */
  /*  Tidy5e Compatibility                     */
  /* ----------------------------------------- */
.tidy5e.sheet.actor {
  min-width: 816px !important;
}
.ability-name.box-title.rollable[title="Shadow"] {
  pointer-events: none !important;
}
.ability-name.box-title.rollable[title="Permanent"] {
  pointer-events: none !important;
}
.aimeTidyInput {
  width: max-content;
}
.aimeTidyInput input {
  margin:0;
  padding: 0;
  height: 12px;
  font-size: 12px;
}
.tidy5e.sheet.actor .playerName {
  min-width: 20px !important;
}
.tidy5e.sheet.actor .inspirationOnHover .miserable {
  display: none;
}
.tidy5e.sheet.actor .inspirationOnHover:hover .miserable {
  display: block;
}
.tidy5e.sheet.actor .miserable {
  position: absolute;
  right: -13px;
  bottom: 26px;
  width: 34px;
  height: 34px;
  z-index: 5;
}
.tidy5e.sheet.actor .miserable input {
  display: none;
}
.tidy5e.sheet.actor .miserable label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 0 5px;
  font-size: 24px;
  color: var(--icon-font);
  cursor: pointer;
  box-shadow: 0 0 10px var(--icon-shadow) inset;
  border: 1px solid var(--icon-outline);
  background: var(--icon-background);
}
.tidy5e.sheet.actor .roundPortrait .miserable label {
  border-radius: 50%;
}

.tidy5e.sheet.actor .miserable label i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
}

.tidy5e.sheet.actor .miserable label:hover {
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 5px rgba(118, 228, 255, 0.5);
}

.tidy5e.sheet.actor .miserable input:checked + label {
  color: white;
  text-shadow: 0 0 10px #ffc276;
  background: #999;
}

.tidy5e.sheet.actor .miserable input:checked + label i {
  color: #FFFFFF;
  animation: glow 5s ease-in-out infinite alternate;
}

.tidy5e.sheet.actor .miserable input:checked + label i.disable-animation {
  animation: none;
}
.tidy5e.sheet.actor .attuned-items-counter {
  display: none !important;
}